
body{
    background: linear-gradient(180deg, #1D4E89,#A2C7E5 );
}

.container{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: #3975b5;
  background: linear-gradient(180deg, #A2C7E5, #1D4E89,);
  text-shadow: 2px 2px 5px rgba(7, 0, 0, 0.3);
  font-size: 20px;
  letter-spacing: 2px;
  padding-top: 20px;
  background-color: rgb(140, 160, 190);
  border: 2px solid #f1efef;  /* garis pinggir */
  border-radius: 10px;     /* ujung melengkung */
  max-width: 800px;
  margin: 20px auto;
}



.box {
  background: #abc3db; /* warna latar */
  border: 4px solid #4e4c4c;  /* garis pinggir */
  border-radius: 10px;     /* ujung melengkung */
  padding: 20px;           /* jarak isi ke pinggir */
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); /* bayangan */
  font-size: 20px;
  max-width: 800px;  
  margin: 20px auto ;
}
span {
    color: rgb(49, 48, 48);

}
h2 {
  color: rgb(23, 86, 109);
}
.box1 {
  border-left: 4px solid #1e3a8a; 
  padding: 10px;             /* biar teks gak nempel ke garis */
  background-color: #abc3db;      /* (opsional) warna latar */
  font-size: large;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto ;
  
}
.box2 {
  border-left: 4px solid #375888; 
  padding:10px;             /* biar teks gak nempel ke garis */
  background-color: #abc3db;      /* (opsional) warna latar */
  font-size: large;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto ;
}

.box3 {
  border-top: 8px solid #375888;
  padding: 6px;
  background: linear-gradient(180deg, #abc8fb, #abd4db) ;
  font-size: 30px;
  border-radius: 15px;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  font-family: 'font/Dash-Horizon-Demo.otf';

}

@font-face {
  font-family: 'font/Dash-Horizon-Demo.otf';
  src: url('font/Dash-Horizon-Demo.otf') format('truetype');
}



@font-face {
  font-family: 'font/Maximum\ Voltage\ Italic.otf';
  src: url('font/Maximum\ Voltage\ Italic.otf') format('truetype');
}

.ttd {

  color: #17424d;
  text-align: right;
  font-size: 60px;
  margin-right: 50px;
  font-family: 'font/Dash-Horizon-Demo.otf';
  
}
.Ridho {
  font-size: 50px;
  font-family: 'font/Maximum\ Voltage\ Italic.otf';
  color: #04323c;
  text-align: right;
  font-size: 55px;
}
.class{
  background: #708BB7;
  padding: 60px 50px 60px 50px;
  margin: 50px auto;
  max-width: 800px;
  border-radius: 10px;
}

 @font-face {
  font-family: 'font/Dash-Horizon-Demo.otf';
  src: url('font/Dash-Horizon-Demo.otf') format('truetype');
}

.site-footer {
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
  border-top: 1px solid #eee;
  color: #0b0a0a;
  font-size: 0.9rem;
  background-color: #608BB9;
}