/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #913232; /* dark elegan */
  color: #c14848;
  line-height: 1.6;
}

/* Header */
header {
  text-align: center;
  padding: 30px 20px;
}

header h1 {
  font-size: 26px;
  margin-bottom: 8px;
  color: #2d2020;
}

header p {
  color: #aaa;
  margin-bottom: 20px;
}

/* Navigation */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav a {
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 20px;
  background: #1e1e2e;
  color: #eee;
  transition: 0.3s;
  font-weight: bold;
}

nav a:hover {
  background: #6c63ff;
  color: #fff;
}

/* Card */
.card {
  background: #39131f;
  margin: 40px auto;
  padding: 20px;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  border-left: 5px solid #6c63ff; /* garis samping elegan */
}

.card h2 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #fff;
}

/* Minat section */
.minat-content {
  display: inline-table;
  align-items: center;
  gap: 15px;
  line-height: 200%;
  padding-top: 40px;
}
h2 {
  margin: 5px 0 20px 0;
  font-size: 18px;
  font-weight: normal;

}
.box h3 {
  margin-top: 0;
  border-bottom: 2px solid #8000ff; /* garis ungu di bawah judul */
  padding-bottom: 5px;
}

.minat-content img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%; /* bulat sempurna */
  border: 3px solid #6c63ff; /* biar lebih elegan */
}
